.layout {
  width: 1728px;
  height: 6800px;
  top: 30px;
  left: 66px;
}

.container {
  display: flex;
}
.header-box {
  flex: 1;
  padding: 20px;
  /* border: 1px solid #ccc; */
  margin: 5px;
  height: 38px;
  padding-top: 60px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.TravelToor {
  /* width: 147px;
  height: 38px;
  top: 60px;
  left: 106px; */
  width: 147px;
  padding-left: 106px;
}
.custom-home {
  width: 68px;
  padding-left: 618px;
}
.custom-line {
  position: relative;
  text-align: right;
  width: 26px;
  /* padding-right: 0%; */
}
.custom-sreach {
  /* padding-right: 5%; */
}
