.layout {
  width: 1728px;
  height: 6800px;
  top: 30px;
  left: 66px;
}

.container {
  display: flex;
}
.header-box {
  padding: 20px;
  margin: 5px;
  padding-top: 60px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}
.custom-ul {
  list-style-type: none;
  padding: 0;
}
.TravelToor {
  width: 147px;
  padding-left: 106px;
}
.custom-home {
  width: 68px;
  padding-left: 500px;
}
.custom-line {
  position: relative;
  text-align: right;
  width: 26px;
  padding-left: 300px;
}
.custom-sreach {
}
.img-sreach {
  width: 24px;
  height: 24px;
}
.img-line2 {
  width: 26px;
  height: auto;
}
.img-line1 {
  width: 17px;
}
.group-memory {
  padding-left: 121px;
  padding-right: 174px;
}
.memory-box {
  width: 584px;
  height: 411px;

  font-family: Inter;
  font-size: 100px;
  font-weight: 700;
  line-height: 137px;
  letter-spacing: 0em;
  text-align: left;
}
.memory-text {
  width: 606px;
  height: 99px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 42px;
}
.custom-img-climping {
}
.img-climping {
  width: 305px;
  height: 427px;

  border-radius: 30px;
}
.custom-svg-flight1 {
  padding-left: 180px;
  position: relative;
  overflow: hidden;
}
.flight1-svg-background {
  width: 213.11px;
  height: 139.63px;

  border: 2px;
  padding-top: 45px;
  background-image: url(../svg/flight1.svg);
  background-size: cover;
}
.custom-svg-plane1 {
}
.plane1-svg-background {
  width: 37.95px;
  height: 37.95px;
  background-image: url(../svg/plane1.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}
.custom-container {
  height: 50px;
  flex-direction: row;
}
.img-camel {
  width: 409px;
  height: 612px;
  padding-left: 20px;
  padding-top: 20px;
}
.img-lake {
  width: 305px;
  height: 399px;
  padding-top: 20px;
}
.group-img {
}

.background {
  position: absolute;
  width: 796px;
  height: 152px;
  /* background-image: url(../svg/Rectangle1.svg); */
  background-size: cover;
}
.location-img {
  width: 99px;
  height: 33px;
}
.svg-arrow {
  width: 20px;
  height: 20px;

  background-image: url(../svg/arrow-down1.svg);
  display: block;
}
.location {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
}
.custmo-select {
  border: 0px solid;
  align-items: left;
}
.custom-img-location {
  position: absolute;
  width: 796px;
  height: 152px;
  justify-content: space-around;
  align-items: center;

  box-shadow: 0px 0px 91.9000015258789px -28px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.01);
  border-radius: 42px;
  backdrop-filter: blur(10.45px);
}
.group-plan-trip {
  padding-left: 121px;
  margin-top: 139px;
  display: flex;
}
.plan-trip-img-video {
  position: absolute;
  width: 525px;
  height: 788px;

  border-radius: 40px;
  padding-top: 39px;
}
.plan-trip-video-backgroup {
  width: 533px;
  height: 788px;
  background: rgba(235, 235, 235, 0.75);
  border-radius: 40px;
}
.plan-trip-custom-img-video {
  position: absolute;
}
.empty-div {
  /* position: absolute; */
  width: 40px;
  height: 788px;
}
.backgroup-guild {
  /* Rectangle 6 */

  position: absolute;
  width: 329px;
  height: 117px;

  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8.05px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 25px;
  margin-left: 231px;
}
.plan-trip-backgroup-guild-text {
  /* Professional Tour Guide */

  /* position: absolute; */
  width: 158px;
  height: 57px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 114%;
  /* or 27px */

  color: #ffffff;
  padding-left: 30px;
}
.plan-trip-img-book-guild {
  /* user-guide 1 */

  position: absolute;
  width: 38px;
  height: 38px;
  margin: 38px;
}
.group-plan-trip-backgroup-guild {
  display: flex;
  align-items: flex-end;
}
.ellipse-svg {
  /* Ellipse 2 */

  width: 75px;
  height: 75px;
  background-image: url(../svg/ellipse.svg);
  margin: 21px;
}
.why-us {
  /* display: flex; */
  padding-left: 194px;
  padding-top: 189px;
}
.why-us h5 {
  /* Way Choose Us? */

  position: absolute;
  width: 225px;
  height: 38px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 137%;
  /* or 38px */

  color: #ffa03f;
}
.why-us h2 {
  /* Plan Your Trip With Us */

  width: 630px;
  height: 79px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 137%;
  /* or 79px */

  color: #000000;
  padding-top: 30px;
}
.why-us-icon-and-text {
  display: flex;
}
.why-us-check-svg {
  height: 176px;
  width: 176px;
  background: url(../svg/why-us-check.svg);
  margin-left: -56px;
  /* Group 13 */

  /* position: absolute; */
}
.why-us-caledate-svg {
  height: 176px;
  width: 176px;
  background: url(../svg/why-us-caledate.svg);
  margin-left: -56px;
  /* Group 13 */

  /* position: absolute; */
}
.why-us-map-svg {
  height: 176px;
  width: 176px;
  background: url(../svg/why-us-map.svg);
  margin-left: -56px;
  /* Group 13 */

  /* position: absolute; */
}
.why-us-text {
  /* Group 12 */

  /* position: absolute; */
  width: 465px;
  height: 66px;
  padding-top: 30px;
}
.why-us-text h3 {
  /* Best Price Guarantee */

  /* position: absolute; */
  width: 283px;
  height: 38px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 137%;
  /* or 38px */

  color: #000000;
}
.why-us-text p {
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit */

  /* position: absolute; */
  width: 465px;
  height: 25px;
  margin-top: -20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 137%;
  /* identical to box height, or 25px */

  color: rgba(0, 0, 0, 0.75);
}
