.layout {
  width: 1728px;
  height: 6800px;
  top: 30px;
  left: 66px;
}

.container {
  display: flex;
}
.header-box {
  /* flex: 1; */
  padding: 20px;
  /* border: 1px solid #ccc; */
  margin: 5px;
  /* height: 38px; */
  padding-top: 60px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  /* line-height: 33px; */
  letter-spacing: 0em;
  text-align: left;
}
.custom-ul {
  list-style-type: none;
  padding: 0;
}
.TravelToor {
  /* width: 147px;
  height: 38px;
  top: 60px;
  left: 106px; */
  width: 147px;
  padding-left: 106px;
}
.custom-home {
  width: 68px;
  padding-left: 500px;
}
.custom-line {
  position: relative;
  text-align: right;
  width: 26px;
  padding-left: 300px;
}
.custom-sreach {
  /* padding-right: 5%; */
}
.img-sreach {
  width: 24px;
  height: 24px;
}
.img-line2 {
  width: 26px;
  height: auto;
}
.img-line1 {
  width: 17px;
}
.group-memory {
  padding-left: 121px;
  padding-right: 174px;
}
.memory-box {
  width: 584px;
  height: 411px;

  font-family: Inter;
  font-size: 100px;
  font-weight: 700;
  line-height: 137px;
  letter-spacing: 0em;
  text-align: left;
}
.memory-text {
  width: 606px;
  height: 99px;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.custom-img-climping {
  /* row-gap: inherit; */
}
.img-climping {
  width: 305px;
  height: 427px;

  border-radius: 30px;
}
.custom-svg-flight1 {
  padding-left: 180px;
  position: relative;
  overflow: hidden;
}
.flight1-svg-background {
  width: 213.11px;
  height: 139.63px;

  border: 2px;
  padding-top: 45px;
  background-image: url(../svg/flight1.svg);
  background-size: cover;
}
.custom-svg-plane1 {
}
.plane1-svg-background {
  width: 37.95px;
  height: 37.95px;
  background-image: url(../svg/plane1.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}
.custom-container {
  height: 50px;
  flex-direction: row;
}
.img-camel {
  width: 409px;
  height: 612px;
  padding-left: 20px;
  padding-top: 20px;
}
.img-lake {
  width: 305px;
  height: 399px;
  padding-top: 20px;
}
.group-img {
}

.background {
  position: absolute;
  width: 796px;
  height: 152px;
  background-image: url(../svg/Rectangle1.svg);
  background-size: cover;
}
.location-img {
  width: 99px;
  height: 33px;
}
.svg-arrow {
  width: 20px;
  height: 20px;

  background-image: url(../svg/arrow-down1.svg);
  display: block;
}
.location {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-start;
}
